<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.organ_donation_app">
    <!-- Permissions (if you use internet/Firebase) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_1"
        android:label="Organ Donation"
        android:roundIcon="@drawable/img_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrganDonationApp">
        <activity
            android:name=".ApprovedActivity"
            android:exported="false" />
        <activity
            android:name="com.example.organdonation.ImpactTrackerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.organapp.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".AwarenessActivity"
            android:exported="false" />
        <activity
            android:name=".DonorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AllMedicalHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".DonorDashboardActivity" />
        <activity android:name=".HospitalDashboardActivity" />
        <activity android:name=".MedicalHistoryActivity" />
        <activity android:name=".OrganDonationActivity" />
        <activity android:name=".AllDonationsActivity" />
    </application>

</manifest>